/* ventas.css */

html, body {
    height: 100%;
    min-height: 100vh;
    margin: 0;
    padding: 0;
  }
  
  body {
    background-image: url("../images/fondo_lafornería.jpg"), url("../images/fondo_lafornería.jpg");
    background-size: cover, cover;
    background-repeat: no-repeat, no-repeat;
    background-position: top center, top center;
    background-attachment: fixed, fixed;
    background-color: #111;
  }
  
  .product-card {
    cursor: pointer;
    transition: 0.1s;
  }
  
  .product-card:hover {
    transform: scale(1.02);
    box-shadow: 0 0.25rem 0.5rem rgba(0,0,0,.1);
  }
  
  .ticket-sidebar {
    background: #fff;
    border-radius: .75rem;
    box-shadow: 0 0.25rem 0.5rem rgba(0,0,0,.1);
  }
  
  .vh-90 {
    height: 90vh;
  }
  
  .category-btn.active {
    background: #198754;
    color: #fff;
  }
  